footer{
    display: inline-block;
    position: absolute;
    bottom: 3%;
    width: 290px;
    height: 40px;
    left: 45%;
}

.footer-copyright{
    position: absolute;
    left: 0px;
    top: 5%;
}
.footer-linkedin{
    position: absolute;
    right: 15%;
    top: 5%;
}
.footer-github{
    position: absolute;
    right: 1%;
    top: 5%;
}

footer p{
    display: inline;
    top: 25%;
    left: 13%;
    position: relative;
    
}